.venv
.pytest_cache
__pycache__

.vscode

docker-env-*.sh
!docker-env-template.sh

load-test-env-*.sh
*-load-test-template.jmx
*-load-test-template.jmx.log
!load-test-env-template.sh
jmeter.log

*.auto.tfvars
!env-template.auto.tfvars
terraform/.terraform
terraform/terraform.tfstate.d
terraform/.terraform.lock.hcl